body {
    background-image: url('/static/img/background.jpg');
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

td {
    width: 60px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    color: lawngreen;
}

td > button {
    width: 60px;
    height: 60px;
    background: transparent;
    border-style: solid;
    text-align: center;
    color: lawngreen;
    font-weight: bold;
}

td > button:hover {
    border-color: red;
}

.spot-on {
    background-color: gray;
}