body {
    background-image: url('/static/img/background.jpg');
}

td {
    width: 60px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    color: lawngreen;
}

td > button {
    width: 60px;
    height: 60px;
    background: transparent;
    border-style: solid;
    text-align: center;
    color: red;
    font-weight: bold;
}

td > button:hover {
    border-color: red;
}

.spot-on {
    background-color: gray;
}

.miss {
    background-color: dodgerblue;
}

#board {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#trial-counter {
    height: 60px;
    font-weight: bold;
    color: orange;
    font-size: 150%;
}

#trial-shoot {
    height: 60px;
    font-weight: bold;
    color: yellow;
    font-size: 150%;
}