{% extends "layout.html" %}
{% block content %}
    <div id="board">
        <table class="centered">
            {% for i in range(1, table_size + 1) %}
                <tr>
                    <td>{{ letters[i - 1] }}</td>
                    {% for j in range(1, table_size + 1) %}
                        <td>
                            <button onclick="setFieldValue({{ ''.join([str(i), str(j)]) }},
                                    {{ game_board[i - 1][j - 1] }})"
                                    id={{ ''.join([str(i), str(j)]) }}></button>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        <tr>
            <td></td>
            {% for i in range(1, table_size + 1) %}
                <td>{{ i }}</td>
            {% endfor %}
        </tr>
        </table>
    </div>
{% endblock content %}