{% extends "layout.html" %}
{% block content %}
    <div id="board">
        <div id="messageArea">
            <table class="centered">
                {% for i in range(table_size) %}
                    <tr>
                        {% for j in range(table_size) %}
                            <td id={{ ''.join([str(i), str(j)])}}><button></button></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}